@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f8f9fa;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #6c93ae;
    padding: 20px;
    color: white;
    position: fixed;
}

    .sidebar a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin: 15px 0;
    }

        .sidebar a i {
            margin-right: 10px;
            color: white; /* Change icon color */
        }

.main-content {
    margin-left: 270px;
    padding: 20px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 1;
    margin: 10px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
}

.table-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

    .table-container .table-box {
        flex: 1;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: white;
    }
